@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.bn-container[data-theming-css-demo] .bn-editor {
  border-radius: 0;
  background-color: #f4f1ef;
}

.bn-container[data-theming-css-demo] .bn-editor * {
  font-family: sans-serif;
}
